
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "FirstLogInChangePassword";
}

@section nav{


}

@section styles{
    <link rel="stylesheet" href="~/restaurantControlPanel/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/restaurantControlPanel/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/restaurantControlPanel/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/restaurantControlPanel/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/restaurantControlPanel/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="~/restaurantControlPanel/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="~/restaurantControlPanel/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/restaurantControlPanel/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="~/restaurantControlPanel/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
}

@section scripts2{
    <script src="~/restaurantControlPanel/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="~/restaurantControlPanel/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="~/restaurantControlPanel/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="~/restaurantControlPanel/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="~/restaurantControlPanel/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="~/restaurantControlPanel/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="~/restaurantControlPanel/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="~/restaurantControlPanel/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="~/restaurantControlPanel/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="~/restaurantControlPanel/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="~/restaurantControlPanel/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="~/restaurantControlPanel/assets/libs/js/dashboard-ecommerce.js"></script>


}




<form class="splash-container" method="post" asp-action="FirstLogInChangePassword" asp-controller="Employee">
    <div class="card">
        <div class="card-header">
          <img class="logo-img" src="~/images/logo.png" alt="logo">
            <p>Смяна на парола(препоръчително е да промените автоматично генерираната парола)</p>
        </div>
        <div class="card-body">

            <div class="form-group">
                <input class="form-control form-control-lg" asp-for="OldPassword" type="password"  placeholder="Стара парола" >
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" asp-for="NewPassword" type="password"  placeholder="Нова парола">
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" asp-for="ConfirmPassword" placeholder="Повтори парола">
            </div>

            <div class="form-group pt-2">
                <button class="btn btn-block btn-primary" type="submit">Регистрация</button>
            </div>


        </div>

    </div>
</form>
