@model ChangePasswordViewModel

@section styles{
    <link rel="stylesheet" href="~/resaurantControlPanel/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/resaurantControlPanel/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/resaurantControlPanel/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/resaurantControlPanel/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
}

@section scripts2{
    <script src="~/resaurantControlPanel/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/resaurantControlPanel/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/resaurantControlPanel/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/resaurantControlPanel/assets/vendor/custom-js/jquery.multi-select.html"></script>
    <script src="~/resaurantControlPanel/assets/libs/js/main-js.js"></script>
}



<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Меню
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i> Сайт <span class="badge badge-success">6</span></a>
                        <div id="submenu-1" class="collapse submenu" style="">
                            <ul class="nav flex-column">

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Отвори</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Редактирай</a>
                                </li>

                            </ul>
                        </div>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Данни</a>
                        <div id="submenu-5" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="danni.html">Настоящи</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="danni_arhiv.html">Архиви</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>Настройки</a>
                        <div id="submenu-4" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="profiles.html">Профили</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Общи настройки</a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-divider">


                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-fw fa-inbox"></i>Имейл <span class="badge badge-secondary"></span></a>
                    <li class="nav-item">
                        <a class="nav-link" href="chat.html"><i class="fas fa-comment"></i>Чат <span class="badge badge-secondary"></span></a>

                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- ============================================================== -->
<!-- end left sidebar -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Профили </h2>

                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Настройки</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Профили</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">

                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>


                                    <th scope="col">Име</th>
                                    <th scope="col">Фамилия</th>
                                    <th scope="col">Имейл</th>
                                    <th scope="col">Парола</th>
                                    <th scope="col">Роля</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>


                                    <td>Елена</td>
                                    <td>ЕИванова</td>
                                    <td>elena.i@abv.bg</td>
                                    <td>13T56REA</td>
                                    <td>
                                        <select class="selectpicker">
                                            <option>Админ</option>
                                            <option>Модератор</option>
                                            <option>Редактор</option>
                                        </select>
                                    </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- ============================================================== -->
            <!-- validation form -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Добави профил</h5>
                    <div class="card-body">
                        <form class="needs-validation" novalidate>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                    <div class="form-group">
                                        <label for="inputUserName">Име</label>
                                        <input id="inputUserName" type="text" name="name" data-parsley-trigger="change" required="" placeholder="Име" autocomplete="off" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                    <div class="form-group">
                                        <label for="inputUserName">Фамилия</label>
                                        <input id="inputUserName" type="text" name="name" data-parsley-trigger="change" required="" placeholder="Фамилия" autocomplete="off" class="form-control">
                                    </div>
                                </div>
                    
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                    <div class="form-group">
                                        <label for="inputPassword">Парола</label>
                                        <input id="inputPassword" type="password" placeholder="*******" required="" class="form-control">
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                    <label for="inputRepeatPassword">Повтори паролата</label>
                                    <input id="inputRepeatPassword" data-parsley-equalto="#inputPassword" type="password" required="" placeholder="******" class="form-control">
                                </div>

                            </div>
                            <div class="form-row">


                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">

                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                    <button class="btn btn-primary" type="submit">Добави</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end validation form -->
            <!-- ============================================================== -->
        </div>
    </div>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
